.topnav{
    background-image: url("../img/durham_county.gif");
    background-size: cover;
    padding: 25px;
    font-size: 24px;
    overflow: hidden;
    color: black;
    
}
.topnav a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
.topnav a:hover{
    color: black;
}
.topnav a.active{
    color: black;
}
.topnav .icon {
    display: none;
}
.Byke{
    position: sticky;
    left: 520px;
    padding-right: 15px;
    padding-top: 0%;
    text-emphasis:bold;
    font-weight: bolder;
    text-decoration: solid;
    align-content: center;
    text-shadow: 20px black;
    font-style: italic;
}
body{
    background-color: mediumblue;
    font-family: 'PT Sans', sans-serif;
}
#box{
    position: relative;
    height: 900px;
    width: 750;
    background-color: rgb(109, 104, 104);
}