.topnav{
    background-image: url("../img/durham_county.gif");
    background-size: cover;
    padding: 25px;
    font-size: 24px;
    overflow: hidden;
    color: black;
    font-family: 'PT Sans', sans-serif;
    
}
.topnav a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
}
.topnav a:hover{
    color: black;
}
.topnav a.active{
    color: black;
}
.topnav .icon {
    display: none;
}
.Byke{
    position: sticky;
    left: 520px;
    padding-right: 15px;
    padding-top: 0%;
    text-emphasis:bold;
    font-weight: bolder;
    text-decoration: solid;
    align-content: center;
    text-shadow: 20px black;
    font-style: italic;
}
body{

    background-color: mediumblue;
    font-family: 'PT Sans', sans-serif;
}
#Byker{
    background-size: cover;
    width: 70%;
}
.containerTwo{
    background-color: lightslategray;
    font-size: 30px;
    line-break: strict;
    
}
#PBYKER{
    text-emphasis: bold;
    font-weight: bolder;
    text-decoration: solid;
    text-indent: 60px;
    text-shadow: 10px black;
}
#button{
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    
}
#button:hover{
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#button2{
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    
}
#button2:hover{
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}