.topnav{
    background-image: url("../img/durham_county.gif");
    background-size: cover;
    padding: 25px;
    font-size: 24px;
    overflow: hidden;
    
}
.topnav a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
.topnav a:hover{
    color: black;
}
.topnav a.active{
    color: cornsilk;
}
.topnav .icon {
    display: none;
}
body{
    background-color: mediumblue;
}
.platforms{
    background-color: white;
    height: 45%;
    width: 60%;
    position:absolute;
}